@use "../base/variables" as *;

.about {
  line-height: 1.5;
  background-color: $white;
}

.full_bg {
  position: absolute;
  width: 100%;
  height: 2000px;
  background-image: url("../../../dist/images/diagnostic-lab-content-gradient-bg\ 1.png");
  background-size: cover;
}

.advantage {
  padding: 0 390px;
  margin: 0 auto;
  margin-top: 72px;
  background-color: $light_blue;
}

.advantage_list {
  display: flex;
  gap: 31px;
}

.advantage_item {
  display: flex;
  gap: 20px;
  width: calc((100% - 93px) / 4);
  height: 179px;

  h4 {
    width: 150px;
  }
}

.icon {
  display: flex;
  width: 40px;
  height: 40px;
}

.advantage_text {
  margin-top: 15px;
  width: 205px;
}

.respirators {
  padding: 0 390px;
  max-width: 1140px;
  padding-top: 133px;
}

.first_article {
  display: flex;
  gap: 47px;
}

.first_article-img {
  flex-shrink: 0;
  z-index: 1;
}

.woman_2 {
  width: 570px;
  height: 616px;
}

.respirators_title {
  line-height: 1.04;
  font-size: 48px;
  width: 525px;
}

.respirators_description {
  line-height: 1.87;
  max-width: 510px;
  margin-top: 26px;

  span {
    font-weight: $bold;
  }
}

.second_article {
  display: flex;
  gap: 47px;
  margin-top: 80px;
}

.second_article_img {
  flex-shrink: 0;
  z-index: 1;
}

.man {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.factory {
  display: flex;
  margin-top: 80px;
  height: 616px;
  padding: 0 390px;

  &_img {
    position: relative;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &_accent {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 285px;
    height: 332px;
    background-color: $blue;
    color: $white;
    padding: 60px 30px;

    p {
      font-size: 15px;
      line-height: 1.6;
    }
  }

  &_description {
    display: flex;

    div {
      width: 285px;
      height: 332px;
      p {
        font-size: 15px;
        line-height: 1.6;
        padding: 80px 30px 132px;
      }

      .accent-descr {
        background-color: $blue;
        color: $white;
        border-top-right-radius: 20px;
      }
    }
  }
}

.factory_contacts {
  width: 570px;
  height: 284px;
  background-color: $accent;
  padding: 45px 40px 0 38px;
  border-bottom-right-radius: 20px;
}

.contact_descr h3 {
  font-size: 20px;
  line-height: 2.5;
}

.contact_descr p {
  font-size: 15px;
  line-height: 1.6;
  width: 492px;
  color: $black;
  margin-top: 5px;
}

.contact_info {
  display: flex;
  margin-top: 26px;
  gap: 41px;
}

.contact_tel {
  display: flex;
  gap: 13px;
  position: relative;
  padding-left: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 46px;
    background-color: $white;
  }
}

.phone {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contact_btn {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  width: 125px;
  height: 46px;
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 8px 24px;
  color: $blue;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.contact_us {
  span {
    font-weight: $semibold;
    font-size: 14px;
    line-height: 1.71;
    color: $blue;
  }

  p {
    font-weight: $semibold;
    font-size: 24px;
    line-height: 1;
    color: $black;
  }
}

@media (max-width: 1440px) {
  .advantage {
    padding: 0 150px;
  }

  .advantage_list {
    gap: 30px;
  }

  .advantage_item {
    width: 256px;
  }

  .respirators {
    padding: 0 150px;
    padding-top: 133px;
  }

  .first_article {
    gap: 44px;
  }

  .respirators_title {
    width: 520px;
  }

  .second_article {
    gap: 44px;
  }

  .factory {
    width: 100%;
    max-width: none;
    opacity: 1;
    justify-content: center;
    background-color: $white;
    padding: 0 150px;

    &_img {
      img {
        height: 100%;
      }
    }
  }

  .contact_info {
    gap: 38px;
  }
}

@media (max-width: 1200px) {
  .full_bg {
    height: 1800px;
  }

  .advantage {
    padding: 0 150px;
    margin-top: 65px;
  }

  .advantage_list {
    gap: 28px;
  }

  .advantage_item {
    gap: 18px;
    width: 250px;
    height: 177px;

    h4 {
      width: 145px;
    }
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .advantage_text {
    margin-top: 12px;
    width: 161px;
  }

  .respirators {
    padding: 0 150px;
    padding-top: 120px;
  }

  .first_article {
    gap: 40px;
  }

  .woman_2 {
    width: 440px;
    height: 555px;
  }

  .respirators_title {
    font-size: 45px;
    max-width: 430px;
  }

  .respirators_description {
    line-height: 1.6;
    width: 422px;
    margin-top: 24px;
  }

  .second_article {
    gap: 40px;
    margin-top: 60px;
  }

  .man {
    width: 430px;
    height: 600px;
  }

  .factory {
    padding: 0 150px;
    margin-top: 60px;
    height: 555px;

    &_img {
      img {
        width: 515px;
        height: 100%;
      }
    }
    &_accent {
      width: 230px;
      height: 290px;
      padding: 40px 25px;

      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    &_description {
      div {
        width: 225px;
        height: 295px;
        p {
          font-size: 14px;
          line-height: 1.5;
          padding: 50px 28px 120px;
        }
      }
    }
  }

  .factory_contacts {
    width: 450px;
    height: 260px;
    background-color: $accent;
    padding: 35px 30px 0 30px;
    border-bottom-right-radius: 20px;
  }

  .contact_descr h3 {
    font-size: 18px;
    line-height: 2.2;
  }

  .contact_descr p {
    font-size: 14px;
    line-height: 1.4;
    width: 400px;
    margin-top: 4px;
  }

  .contact_info {
    margin-top: 24px;
    gap: 30px;
  }

  .contact_tel {
    gap: 11px;
    padding-left: 36px;

    &::before {
      height: 42px;
    }
  }

  .phone {
    width: 42px;
    height: 42px;
  }

  .contact_btn {
    font-weight: $medium;
    font-size: 14px;
    line-height: 2.1;
    text-align: center;
    width: 118px;
    height: 42px;
    border: 1px solid $blue;
    border-radius: 8px;
    padding: 6px 18px;
    color: $blue;
  }

  .contact_us {
    span {
      font-size: 14px;
      line-height: 1.7;
    }

    p {
      font-size: 19px;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    line-height: 1.4;
    font-size: 14px;
    background-color: $white;
  }

  .full_bg {
    height: 1500px;
  }

  .advantage {
    margin-top: 60px;
  }

  .advantage_list {
    gap: 0px;
  }
  .advantage_item {
    gap: 16px;
    width: 200px;
    height: 170px;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .advantage_text {
    margin-top: 10px;
    width: 150px;
  }

  .respirators {
    padding: 0 125px;
    padding-top: 100px;
  }

  .first_article {
    gap: 25px;
  }

  .woman_2 {
    width: 376px;
    height: 550px;
  }

  .respirators_title {
    font-size: 40px;
    max-width: 375px;
  }

  .respirators_description {
    line-height: 1.5;
    width: 375px;
    margin-top: 22px;
  }
  .second_article {
    gap: 25px;
    margin-top: 50px;
  }

  .man {
    width: 375px;
    height: 550px;
  }

  .factory {
    padding: 0 125px;
    margin-top: 60px;
    height: 500px;

    &_img {
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &_accent {
      width: 200px;
      height: 250px;
      padding: 20px;

      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }

    &_description {
      div {
        width: 188px;
        height: 230px;
        p {
          font-size: 14px;
          line-height: 1.5;
          padding: 20px 20px 63px;
        }
      }
    }
  }

  .factory_contacts {
    width: 376px;
    height: 270px;
    padding: 50px 20px;
  }

  .contact_descr h3 {
    font-size: 16px;
    line-height: 2.1;
  }

  .contact_descr p {
    width: 350px;
    margin-top: 3px;
  }

  .contact_info {
    margin-top: 20px;
    gap: 20px;
  }

  .contact_tel {
    gap: 10px;
    padding-left: 20px;

    &::before {
      height: 36px;
    }
  }

  .phone {
    position: relative;
    top: 4px;
    width: 36px;
    height: 36px;
  }

  .contact_btn {
    line-height: 2;
    width: 110px;
    height: 40px;
    padding: 6px 18px;
  }

  .contact_us {
    span {
      font-size: 14px;
      line-height: 1.7;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .full_bg {
    height: 1500px;
  }

  .advantage {
    padding: 0 60px;
    margin-top: 40px;
  }

  .advantage_list {
    gap: 20px;
  }

  .advantage_item {
    width: calc((100% - 60px) / 4);
    height: 140px;
  }

  .icon {
    display: none;
  }

  .advantage_text {
    margin-top: 10px;
    width: 140px;
  }

  .respirators {
    padding: 0 60px;
    padding-top: 80px;
  }

  .first_article {
    gap: 20px;
  }

  .first_article-img {
    flex-shrink: 1;

    .woman_2 {
      width: 325px;
      height: auto;
    }
  }

  .respirators_title {
    line-height: 1;
    font-size: 32px;
    max-width: 318px;
  }

  .respirators_description {
    line-height: 1.5;
    max-width: 300px;
    margin-top: 20px;
  }

  .second_article {
    gap: 20px;
    margin-top: 40px;
  }

  .second_article_img {
    flex-shrink: 1;

    .man {
      width: 350px;
      height: auto;
    }
  }

  .factory {
    margin-top: 40px;
    height: 400px;
    padding: 0 60px;

    &_img {
      img {
        width: 324px;
        height: 100%;
      }
    }
    &_accent {
      width: 180px;
      height: 220px;
      padding: 18px;
      p {
        font-size: 13px;
        line-height: 1.4;
      }
    }

    &_description {
      div {
        width: 162px;
        height: 200px;
        p {
          font-size: 13px;
          line-height: 1.4;
          padding: 15px 15px 40px;
        }
      }
    }
  }

  .factory_contacts {
    width: 324px;
    height: 200px;
    padding: 20px 15px;
  }

  .contact_descr h3 {
    font-size: 15px;
    line-height: 1.8;
  }

  .contact_descr p {
    font-size: 13px;
    line-height: 1.4;
    width: 220px;
  }

  .contact_info {
    margin-top: 15px;
    gap: 15px;
  }

  .contact_tel {
    gap: 9px;

    &::before {
      height: 36px;
    }
  }

  .phone {
    top: 5px;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  }

  .contact_btn {
    line-height: 1.5;
    width: 100px;
    height: 36px;
    padding: 4px 8px;
  }

  .contact_us {
    span {
      font-size: 14px;
      line-height: 1.7;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .about {
    font-size: 13px;
    line-height: 1.4;
  }

  .full_bg {
    display: none;
  }

  .advantage {
    line-height: 1.3;
    padding: 0 20px;
  }

  .advantage_list {
    column-gap: 25px;
    row-gap: 10px;
    flex-wrap: wrap;
  }

  .advantage_item {
    display: flex;
    gap: 5px;
    width: calc((100% - 25px) / 2);
    height: 200px;

    h4 {
      width: 130px;
    }
  }

  .icon {
    display: block;
  }

  .advantage_text {
    margin-top: 10px;
    width: 125px;
  }

  .respirators {
    padding: 0 20px;
    padding-top: 40px;
  }

  .first_article {
    gap: 0;
  }

  .first_article-img {
    display: none;
  }

  .respirators_title {
    line-height: 1;
    font-size: 28px;
    max-width: 330px;
  }

  .respirators_description {
    max-width: 330px;
    margin-top: 15px;
  }

  .second_article {
    gap: 0;
    margin-top: 20px;
  }

  .second_article_img {
    display: none;
  }

  .factory {
    margin-top: 20px;
    height: 470px;
    padding: 0 20px;

    &_img {
      display: none;
    }
    &_accent {
      display: none;
    }

    &_description {
      div {
        width: 167px;
        height: 200px;
        p {
          font-size: 13px;
          line-height: 1.4;
          padding: 20px 15px 54px;
        }
      }
    }
  }

  .factory_contacts {
    width: 334px;
  }

  .contact_descr h3 {
    font-size: 15px;
    line-height: 1.7;
  }

  .contact_descr p {
    font-size: 13px;
    width: 220px;
  }

  .contact_info {
    gap: 15px;
  }

  .contact_btn {
    font-size: 12px;
    line-height: 1.4;
    width: 80px;
    height: 30px;
    padding: 4px 6px;
    border-radius: 6px;
  }

  .contact_tel {
    padding-left: 15px;

    &::before {
      height: 30px;
    }
  }

  .phone {
    bottom: 5px;
    width: 30px;
    height: 30px;
  }

  .contact_us {
    span {
      font-size: 13px;
      line-height: 1.5;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .about {
    font-size: 13px;
    line-height: 1.3;
  }

  .full_bg {
    display: none;
  }

  .advantage {
    padding: 0 20px;
  }

  .advantage_list {
    flex-direction: column;
    align-items: center;
  }

  .advantage_item {
    display: flex;
    gap: 10px;
    width: 200px;
    height: 200px;

    h4 {
      width: 130px;
    }
  }

  .icon {
    display: block;
    width: 20px;
  }

  .advantage_text {
    margin-top: 10px;
    width: 165px;
  }

  .respirators {
    padding: 0 20px;
    padding-top: 20px;
  }

  .first_article-img {
    display: none;
  }

  .respirators_title {
    line-height: 1;
    font-size: 24px;
    max-width: 300px;
  }

  .respirators_description {
    max-width: 280px;
    margin-top: 10px;
  }

  .second_article {
    gap: 0;
    margin-top: 20px;
  }

  .second_article_img {
    display: none;
  }

  .factory {
    margin-top: 15px;
    height: 470px;
    padding: 0 20px;

    &_img {
      display: none;
    }
    &_accent {
      display: none;
    }

    &_description {
      div {
        width: 140px;
        height: 200px;
        p {
          font-size: 12px;
          line-height: 1.3;
          padding: 20px 15px 56px;
        }
      }
    }
  }

  .factory_contacts {
    width: 280px;
  }

  .contact_descr h3 {
    font-size: 14px;
    line-height: 1.5;
  }

  .contact_descr p {
    font-size: 12px;
    width: 200px;
  }

  .contact_info {
    gap: 10px;
  }

  .contact_btn {
    font-size: 11px;
    line-height: 1.2;
    width: 80px;
    height: 40px;
    border-radius: 6px;
  }

  .contact_tel {
    align-items: center;
    padding-left: 15px;

    &::before {
      height: 40px;
    }
  }

  .phone {
    top: 0;
    width: 30px;
    height: 30px;
  }

  .contact_us {
    span {
      font-size: 13px;
      line-height: 1.2;
    }

    p {
      font-size: 12px;
    }
  }
}
