@use "../base/variables" as *;

.advantages {
  font-family: $font-family-base;
  font-weight: $regular;
  padding: 0 390px;
  background-color: $white;
}

.advantages_container {
  display: flex;
  gap: 90px;
  height: 668px;
}

.advantages_image {
  flex-shrink: 0;
}

.advantages_image img {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.advantages_title {
  font-size: 48px;
  line-height: 1.04;
}

.advantages_descr {
  line-height: 1.87;
  margin-top: 35px;
}

.achievements {
  width: 650px;
  margin-top: 35px;
}

.achievements_list {
  display: flex;
  row-gap: 23px;
  column-gap: 26px;
  flex-wrap: wrap;
}

.achievement_item {
  width: calc((100% - 26px) / 2);
}

.achievement_item h4 {
  font-size: 20px;
  line-height: 1.4;
  width: 238px;
}

.achievement_item p {
  font-size: 15px;
  line-height: 1.47;
  margin-top: 2px;
}

.achievement_icon {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
}

.item_container {
  display: flex;
  gap: 17px;
}

@media (max-width: 1440px) {
  .advantages {
    padding: 0 180px;
  }

  .advantages_container {
    gap: 86px;
  }
}
