@use "../base/variables" as *;

.feedback {
  margin-top: 0;
  background-color: $white;
  padding: 25px 390px 120px;
}

.conclusion {
  margin-top: 88px;
}

.conclusion_title {
  font-size: 48px;
  line-height: 1.04;
  text-align: center;
}

.conclusion_text {
  line-height: 1.87;
  width: 664px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.feedback_button_container {
  display: flex;
  justify-content: center;
}

.feedback_btn {
  width: 115px;
  height: 46px;
  color: $white;
  background-color: $blue;
  box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);
  border-radius: 8px;
  margin-top: 35px;

  &:hover {
    background-color: $accent;
  }
}
@media (max-width: 1440px) {
  .feedback {
    padding: 25px 150px 100px;
  }
}

@media (max-width: 1200px) {
  .conclusion {
    margin-top: 80px;
  }

  .conclusion_title {
    font-size: 40px;
    line-height: 1;
  }

  .conclusion_text {
    line-height: 1.8;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .feedback_btn {
    width: 110px;
    height: 44px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .feedback {
    padding: 25px 125px 80px;
  }

  .conclusion {
    margin-top: 60px;
  }

  .conclusion_title {
    font-size: 36px;
  }

  .conclusion_text {
    line-height: 1.7;
    width: 550px;
  }

  .feedback_btn {
    font-size: 14px;
    height: 40px;
    margin-top: 20px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .feedback {
    padding: 20px 60px 40px;
  }

  .conclusion {
    margin-top: 40px;
  }

  .conclusion_title {
    font-size: 32px;
  }

  .conclusion_text {
    line-height: 1.5;
    width: 450px;
  }

  .feedback_btn {
    font-size: 13px;
    width: 90px;
    height: 36px;
    margin-top: 15px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .feedback {
    padding: 20px 20px 40px;
  }

  .conclusion {
    margin-top: 20px;
  }

  .conclusion_title {
    font-size: 24px;
  }

  .conclusion_text {
    font-size: 13px;
    line-height: 1.3;
    width: 300px;
  }

  .feedback_btn {
    font-size: 12px;
    width: 70px;
    height: 30px;
    padding: 4px 6px;
  }
}
