@use "../base/variables" as *;

.hero {
  line-height: 1.5;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 390px 0;
}

.hero_container {
  display: flex;
  gap: 88px;
}

.hero_text_accent {
  font-family: $font-family-heading;
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  color: $accent;
}

.hero_title {
  font-size: 72px;
  line-height: 1.14;
  margin-top: 30px;
}

.hero_text {
  margin-top: 40px;
}

.button_group {
  display: flex;
  gap: 20px;
  height: 44px;
  margin-top: 54px;
}

.shop_now {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  border-radius: 8px;
  padding: 8px 24px;
  width: 115px;
  height: 46px;
  color: $white;
  background-color: $blue;
  box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);

  &:hover {
    background-color: $accent;
  }
}

.learn_more {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  border: 1px solid $accent;
  border-radius: 8px;
  padding: 8px 24px;
  width: 125px;
  height: 46px;
  color: $accent;

  &:hover {
    background-color: $accent;
    color: $white;
  }
}

.hero_img {
  position: relative;
  left: 0;
  flex-shrink: 0;
}

.woman_1 {
  max-width: 496px;
  height: 744px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 1440px) {
  .hero {
    padding: 80px 150px 0;
  }

  .hero_container {
    display: flex;
    gap: 68px;
  }

  .woman_1 {
    width: 486px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 60px 150px 0;
  }

  .hero_container {
    gap: 80px;
  }

  .hero_info {
    max-width: 500px;
  }

  .hero_title {
    font-size: 62px;
    margin-top: 25px;
  }

  .hero_text {
    margin-top: 36px;
  }

  .button_group {
    gap: 18px;
    margin-top: 48px;
  }

  .shop_now {
    width: 110px;
    height: 40px;
    padding: 6px 20px;
    box-shadow: 0 8px 12px 0 rgba(27, 95, 193, 0.19);
  }

  .learn_more {
    width: 118px;
    height: 40px;
    padding: 6px 20px;
  }

  .woman_1 {
    max-width: 450px;
    height: 680px;
  }
}

@media (max-width: 1024px) {
  .hero {
    line-height: 1.4;
    padding: 60px 125px 0;
  }

  .hero_container {
    display: flex;
    gap: 60px;
  }

  .hero_info {
    max-width: 300px;
  }

  .hero_text_accent {
    font-size: 13px;
    line-height: 2;
  }

  .hero_title {
    font-size: 50px;
    line-height: 1.1;
    margin-top: 28px;
  }

  .hero_text {
    margin-top: 30px;
  }

  .button_group {
    height: 40px;
    margin-top: 45px;
  }

  .shop_now {
    box-shadow: 0 6px 10px 0 rgba(27, 95, 193, 0.19);
  }

  .learn_more {
    width: 115px;
    padding: 6px 18px;
  }

  .hero_img {
    left: 0;
  }

  .woman_1 {
    max-width: 415px;
    height: 575px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .hero {
    padding: 40px 60px 0;
  }

  .hero_info {
    max-width: 400px;
  }

  .hero_title {
    font-size: 46px;
  }

  .shop_now {
    width: 90px;
    height: 36px;
    padding: 4px 12px;
    box-shadow: 0 8px 12px 0 rgba(27, 95, 193, 0.19);
  }

  .learn_more {
    width: 100px;
    height: 36px;
    padding: 4px 12px;
  }

  .woman_1 {
    max-width: 350px;
    height: 494px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .hero {
    line-height: 1.4;
    padding: 20px 20px 0;
  }

  .hero_info {
    max-width: 450px;
  }

  .hero_container {
    display: flex;
    gap: 0;
  }

  .hero_text_accent {
    font-size: 12px;
    line-height: 1.5;
  }

  .hero_title {
    font-size: 38px;
    line-height: 1;
    margin-top: 15px;
  }

  .hero_text {
    margin-top: 15px;
  }

  .shop_now {
    font-size: 12px;
    width: 70px;
    height: 30px;
    padding: 4px 6px;
    box-shadow: 0 6px 10px 0 rgba(27, 95, 193, 0.19);
  }

  .hero_img {
    display: none;
  }

  .learn_more {
    font-size: 12px;
    width: 80px;
    height: 30px;
    padding: 4px 6px;
  }
}
