@use "../base/variables" as *;

.hero {
  font-family: $font-family-base;
  font-weight: $regular;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $grey;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 390px 0;
}

.hero_container {
  display: flex;
  gap: 48px;
}

.hero_info {
  max-width: 555px;
}

.hero_text_accent {
  font-family: $font-family-heading;
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  color: $accent;
}

.hero_title {
  font-size: 72px;
  line-height: 1.14;
  margin-top: 30px;
}

.hero_text {
  margin-top: 40px;
}

.button_group {
  display: flex;
  gap: 20px;
  height: 44px;
  margin-top: 54px;
}

.shop_now {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  border-radius: 8px;
  padding: 8px 24px;
  width: 115px;
  height: 46px;
  color: $white;
  background-color: $blue;
  box-shadow: 0 10px 15px 0 rgba(27, 95, 193, 0.19);

  &:hover {
    background-color: $accent;
  }
}

.learn_more {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  border: 1px solid $accent;
  border-radius: 8px;
  padding: 8px 24px;
  width: 125px;
  height: 46px;
  color: $accent;

  &:hover {
    background-color: $accent;
    color: $white;
  }
}

.hero_img {
  position: relative;
  left: 40px;
  flex-shrink: 0;
}

.woman_1 {
  width: 496px;
  height: 744px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media (max-width: 1440px) {
  .hero {
    padding: 80px 150px 0;
  }

  .hero_container {
    display: flex;
    gap: 60px;
  }

  .hero_img {
    left: 43px;
  }

  .woman_1 {
    width: 486px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding: 60px 150px 0;
  }

  .hero_container {
    gap: 80px;
  }

  .hero_info {
    max-width: 500px;
  }

  .hero_title {
    font-size: 62px;
    margin-top: 25px;
  }

  .hero_text {
    margin-top: 36px;
  }

  .button_group {
    display: flex;
    gap: 18px;
    margin-top: 48px;
  }

  .shop_now {
    width: 110px;
    padding: 6px 20px;
    box-shadow: 0 8px 12px 0 rgba(27, 95, 193, 0.19);
  }

  .learn_more {
    width: 118px;
    padding: 6px 20px;
  }

  .hero_img {
    left: 9px;
  }

  .woman_1 {
    width: 450px;
    height: 680px;
  }
}
