@use "../base/variables" as *;

.sertification {
  padding: 80px 390px;
  background-color: $white;
}

.sertifiation_container {
  display: flex;
  gap: 103px;
}

.sertification_text {
  font-size: 15px;
  line-height: 1.6;
  align-self: center;
  position: relative;
  padding-right: 163px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    width: 147px;
    height: 1px;
    background-color: $accent;
  }
}

.certificates_list {
  display: flex;
  gap: 100px;
}

.fda_icon {
  width: 66px;
  height: 80px;
}

.nelson_icon {
  width: 126px;
  height: 80px;
}

.cnas_icon {
  width: 105px;
  height: 80px;
}

@media (max-width: 1440px) {
  .sertification {
    padding: 80px 180px;
  }

  .sertifiation_container {
    display: flex;
    gap: 100px;
  }

  .sertification_text {
    padding-right: 160px;
  }
}
