@use "../base/variables" as *;

.sertification {
  padding: 80px 390px;
  background-color: $white;
}

.sertifiation_container {
  display: flex;
  gap: 103px;
}

.sertification_text {
  font-size: 15px;
  line-height: 1.6;
  align-self: center;
  position: relative;
  padding-right: 163px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(50%);
    width: 147px;
    height: 1px;
    background-color: $accent;
  }
}

.certificates_list {
  display: flex;
  gap: 100px;
}

.fda_icon {
  width: 66px;
  height: 80px;
}

.nelson_icon {
  width: 126px;
  height: 80px;
}

.cnas_icon {
  width: 105px;
  height: 80px;
}

@media (max-width: 1440px) {
  .sertification {
    padding: 80px 150px;
  }

  .sertifiation_container {
    display: flex;
    gap: 100px;
  }

  .sertification_text {
    padding-right: 160px;
  }
}

@media (max-width: 1200px) {
  .sertification {
    padding: 60px 150px;
  }

  .sertifiation_container {
    gap: 90px;
  }

  .sertification_text {
    font-size: 14px;
    line-height: 1.5;
    padding-right: 140px;

    &::after {
      width: 120px;
    }
  }

  .certificates_list {
    gap: 80px;
  }

  .fda_icon {
    width: 64px;
    height: 75px;
  }

  .nelson_icon {
    width: 119px;
    height: 75px;
  }

  .cnas_icon {
    width: 99px;
    height: 75px;
  }
}

@media (max-width: 1024px) {
  .sertification {
    padding: 60px 125px;
  }

  .sertifiation_container {
    gap: 80px;
  }

  .sertification_text {
    padding-right: 120px;

    &::after {
      width: 110px;
    }
  }

  .certificates_list {
    gap: 60px;
  }
}

@media (min-width: 376px) and (max-width: 768px) {
  .sertification {
    padding: 40px 60px;
  }

  .sertifiation_container {
    gap: 70px;
  }

  .sertification_text {
    padding-right: 100px;

    &::after {
      width: 90px;
    }
  }

  .certificates_list {
    gap: 40px;
  }

  .fda_icon {
    width: 55px;
    height: 65px;
  }

  .nelson_icon {
    width: 90px;
    height: 65px;
  }

  .cnas_icon {
    width: 80px;
    height: 65px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .sertification {
    padding: 60px 20px;
  }

  .sertifiation_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .sertification_text {
    padding-right: 200px;

    &::after {
      width: 147px;
    }
  }

  .certificates_list {
    justify-content: space-between;
  }

  .fda_icon {
    width: 50px;
    height: 70px;
  }

  .nelson_icon {
    width: 85px;
    height: 70px;
  }

  .cnas_icon {
    width: 80px;
    height: 70px;
  }
}

@media (max-width: 320px) {
  .sertification {
    padding: 40px 20px;
  }

  .sertifiation_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .certificates_list {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
