@use "base/variables" as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-family-base;
  font-weight: $regular;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  color: $grey;
  background-color: $white;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $bold;
  color: $dark;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 51%;
  height: 891px;
  background-image: url("../../../dist/images/background.jpg");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 25%;
}
