@use "base/variables" as *;

html {
  font-size: 100%;
}

body {
  font-family: $font-family-base;
  font-weight: $regular;
  font-size: $font-size-base;
  letter-spacing: $letter-spacing-base;
  color: $grey;
  background-color: $white;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: $bold;
  color: $dark;
  margin: 0;
}

header {
  background-color: $light_blue;
}

main {
  background-color: $light_blue;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  height: 891px;
  background-image: url("../../../dist/images/background.jpg");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 25%;
}

button {
  font-family: $font-family-heading;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

@media (max-width: 1440px) {
  .background {
    width: 46%;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 15px;
  }

  .background {
    width: 52%;
    height: 801px;
  }
}

@media (max-width: 1024px) {
  .background {
    width: 55%;
    height: 700px;
  }
}
