@use "../base/variables" as *;

.header_container {
  position: relative;
  padding: 20px 390px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  width: 161px;
  height: 40px;
}

.menu_navigation {
  display: flex;
  align-items: center;
  gap: 45px;
  margin-left: auto;
}

.menu_link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: $accent;
    transition: width 0.3s ease;
  }
}

.menu_link:not(.menu_link-active):hover::after {
  width: 100%;
}

.menu_link-active {
  color: $dark;
  line-height: 1.87;
}

.btn {
  font-weight: $medium;
  font-size: 14px;
  line-height: 2.14;
  width: 123px;
  height: 47px;
  text-align: center;
  color: $white;
  background-color: $blue;
  border-radius: 8px;
  margin-left: 45px;
  flex-shrink: 0;

  &:hover {
    background-color: $accent;
  }
}

@media (max-width: 1440px) {
  .header_container {
    padding: 20px 150px 0;
  }

  .menu_navigation {
    gap: 40px;
  }

  .btn {
    margin-left: 40px;
  }
}

@media (max-width: 1200px) {
  .header_container {
    padding: 15px 150px 0;
  }

  .logo {
    width: 145px;
    height: 36px;
  }

  .menu_navigation {
    gap: 36px;
  }

  .menu_link {
    &::after {
      bottom: -2px;
      height: 1px;
    }
  }

  .btn {
    width: 117px;
    height: 46px;
  }
}
